<% @musics.each do |music| %>
<tr>
  <td><%= music.id %></td>
  <td><%= music.title %></td>
  <td><%= music.artist.name %></td>
  <td><%= @random.rand(1..6) %>分<%= @random.rand(1..59) %>秒</td>
</tr>
<% end %>
