<% @musics.each do |music| %>
<tr>
  <td><div class="add_theme_btn" id=<%= "music_#{music.id}" %>></div></td>
  <td><%= music.title %></td>
  <td><%= music.artist ? music.artist.name : "none" %></td>
  <td><%= @random.rand(1..6) %>分<%= @random.rand(1..59) %>秒</td>
</tr>
<% end %>
